@media (max-width: 600px) {
    #hero {
        height: 35vw;
    }

    .logo {
        width: 70vw;
        height: 17.5vw;
    }

    .claim {
        display: none;
    }

    .bio {
        flex-direction: column;
        align-items: center;
    }

    .photo {
        margin-bottom: 0.6em;
    }

    .right {
        padding-left: 0;
    }

    .container-home {
        padding: 0 1.6em;
    }
}