@media (max-width: 800px) {
    .art-heading {
        margin: 2.5em 0;
    }

    .art-date, .read-time {
        display: block;
        margin: 0;
    }

    .art-date {
        margin-top: 0.375em;
    }

    .container-content {
        padding: 1.33em 1.5625em 1.5em;
    }

    #about {
        padding: 1.5625em;
    }
}