---
layout: default
---

{% include header-page.html %}
<div class="container-content">
    <article>
        <h1>{{ page.title | escape }}</h1>
        <div class="art-info">
            {% for category in page.categories %}
                <a href="#" class="category">{% include category.html category=category %}</a>
            {% endfor %}
            <span class="art-date">{% include post-date.html date=page.date %}</span>
            {% include reading-time.html %}
        </div>
        {{ content }}
    </article>
    {% include facebook-like.html %}
</div>
{% include footer.html %}